<div class="cartu-grid-list" grid-resize="">
<!-- ngRepeat: (key,product) in gridProducts track by product.id --><div class="cartu-grid-tile ng-scope" data-ng-repeat="(key,product) in gridProducts track by product.id" data-ng-controller="dCatProd" data-ng-style="getMinHeight($parent)" style="min-height: 354.05px;">
<prod-grid-box class="product-grid-container" itemscope="" itemtype="http://schema.org/Product"><a class="clean-a" data-ng-href="/carte/pedaland-prin-viata-181658144?p=1" title="Pedaland prin viata" data-ng-click="onProductClick($event, product,key +1)" href="/carte/pedaland-prin-viata-181658144?p=1">
<!-- ngIf: ::product.imgUrl --><div data-ng-if="::product.imgUrl" class="productImageContainer ng-scope">
<img data-ng-src="https://cdn.dc5.ro/img/prod/240/181658144-0-240.jpeg" itemprop="image" src="https://cdn.dc5.ro/img/prod/240/181658144-0-240.jpeg">
</div><!-- end ngIf: ::product.imgUrl --> " </a>
<div class="grid-product-details layout-align-center-center layout-column" layout="column" layout-align="center center">
<a data-ng-href="/carte/pedaland-prin-viata-181658144?p=1" itemprop="url" content="/carte/pedaland-prin-viata-181658144?p=1" data-ng-click="onProductClick($event, product, key +1)" href="/carte/pedaland-prin-viata-181658144?p=1">
<h5 class="md-title ng-binding" data-ng-bind="::product.name" itemprop="name">Pedaland prin viata</h5>
</a>
<div class="subtitlu-produs ng-binding" data-ng-bind-html="::h.htmlDecode(h.parseSubtitle(product.subtitle))"><a href="/autor/codrut_constantinescu">Codrut Constantinescu</a></div>
</div> <!-- ngIf: ::product.nou --> <!-- ngIf: ::product.discount -->
<!-- ngIf: ::product.specialPrice -->
<div class="productStock stoc-limitat" data-ng-class="::product.stockStatus.slug"><span data-ng-bind="::product.stockStatus.label" class="ng-binding">Limitat</span><!-- ngIf: ::product.stockStatus['24h'] --><span class="stoc24h ng-scope" data-ng-if="::product.stockStatus['24h']"></span><!-- end ngIf: ::product.stockStatus['24h'] --></div>
<!-- ngIf: ::product.stockStatus.slug != 'indisponibil' && product.stockStatus.slug != 'promo' --><div data-ng-if="::product.stockStatus.slug != 'indisponibil' &amp;&amp; product.stockStatus.slug != 'promo'" data-ng-bind-html="::h.formatPrice(product.price)" class="productPrice ng-binding ng-scope" data-ng-class="::product.discount?'discountPrice':''"><span class="suma" itemprop="price" content="25.00">25</span><span class="bani">00</span><span class="priceCurrency" content="RON">lei</span></div><!-- end ngIf: ::product.stockStatus.slug != 'indisponibil' && product.stockStatus.slug != 'promo' --></prod-grid-box>
</div><!-- end ngRepeat: (key,product) in gridProducts track by product.id -->
</div>